# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Auth.js configuration
AUTH_SECRET=your-secret-key
AUTH_URL=http://localhost:3000

# GitHub OAuth
GITHUB_ID=Ov23lisw31BSxYNf2e0U
GITHUB_SECRET=a0727b20a3fffd9eb8b3b3faae6e5cc2db8082b7

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for PostHog analytics)
NEXT_PUBLIC_POSTHOG_ID=phc_cSotYLnrWIG2NhTJqMkA4gWiiz4THosgp9IYv2xORkL

# Optional (for rendering tweets more efficiently)
#TWITTER_ACCESS_TOKEN=

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
# NOTE: don't forget to set isRedisEnabled to true in the site.config.ts file
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key # 可以使用任何随机字符串
AUTH_SECRET="PfnFwJun8Bfz+ylpd/am0B+cZ/ll9Ib1EBxRGmCuSfA="
